<p>
  <div align="center"> 
    <h3> Thanks for playing Sinatra Blackjack! </h3>

    <div class="trim">
      <img src='/images/bj.png' >
      <div id="spacer">
        <FORM id="facebook" METHOD="LINK" ACTION="https://www.facebook.com/">
          <INPUT TYPE="submit" VALUE="Friend Us On Facebook!">
        </FORM>
        <FORM id="twitter" METHOD="LINK" ACTION="https://twitter.com/?lang=en">
          <INPUT TYPE="submit" VALUE="Follow Us On Twitter!">
        </FORM>
      </div>
    </div>

  </div>
</p>
