<p>
  <div align="center"> 
    <h3> Thanks for playing Sinatra Blackjack! </h3>


    <div class="trim">
      <img src='/images/bj.png' >
      <h5><a href='https://www.facebook.com/'><u>Friend Us On Facebook! </u></a>  |  
        <a href='https://twitter.com/?lang=en'><u>Follow Us On Twitter!</u></a></h5>
    </div>

  </div>
</p>

