<h1>Welcome to Sinatra Blackjack!</h1>

<div class="well">
  <h4>The house has started you off with $500 worth of chips. Enter your name and bet below to begin.</h4>
    
  <form action='/set_name' method="post">
    Name: <input type="text" name="player_name" /><br />
    Bet Amount($): <input type="text" name="bet" /><br />
    <input type="submit" class="btn btn-custom" /><br />
  </form>
</div>



